spring:
  application:
    name: StudentMicroserviceClient
  web:
    error:
      whitelabel:
        enabled: false
eureka:
 client:
   service-url:
        default-zone: http://localhost:8761/eureka/

server:
  port: 3333 